<!DOCTYPE html>
<html>
<body class="index" >
				<!-- Header -->
				<header id="header" class="alt">
					<h1 id="logo"><a href="index.php">PLUS <span>Your way to haven</span></a></h1>
					<nav id="nav">
						<ul>
							<li class="current"><a href="index.php">Welcome</a></li>
						</ul>
					</nav>
				</header>
    </body>
</html>